.sidebar{
    border: 3px;

    .top{
        height: 45.5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #3CB878;
        }
    }

    .center{
        padding-left: 10px;

        .title{
            font-size: 10px;
            font-weight: bold;
            color: #999;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        
        li{
            display: flex;
            align-items: center;
            padding: 5px;

            &:hover{
                background-color: #ece8ff;
            }

            .icon{
                font-size: 18px;
                color:#3CB878;
            }

            span{
                font-size: 13px;
                font-weight: 600;
                color: #888;
                margin-left: 10px;
            }
        }
    }

    
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOptions{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin-top: 5px;
            margin-right: 10px;
            &:nth-child(1){
                background-color: whitesmoke;
            }

            &:nth-child(2){
                background-color: #333;
            }

            &:nth-child(3){
                background-color: darkblue;
            }

        }

    }
}